$chestnut: linear-gradient(135deg, #784715 0%, #301902 100%);
$cyan: #86C1BC;
$sandy: #C3B078;
$ashy: #7A7B6D;
$brown: #8A6642;
$grey: #60686A;
$black: linear-gradient(180deg, #38383E 0%, #232327 100%);
$floor-white: url('img/light.png');
$floor-brown: url('img/moraine.png');
$floor-red: url('img/mahogany.png');
$floor-yellow: url('img/golden.png');
$floor-beige: url('img/nut.png');